body{
	padding: 0;
  margin: 0;
	font-family: 'Playfair Display', serif;
}

div{
  box-sizing: border-box;
}

img{
	border-radius: 5px;
}

header .conteiner{
	width: 1060px;
}

.coneinerHEAD{
	height: 30px;
	margin: 0 auto; 
  padding-top: 10vh;
	margin-bottom: 10vh;
}

.logo{
  font-size: 30px;
  font-family: 'Inconsolata', monospace;
  color: rgb(0, 0, 0);
  text-transform: uppercase;
  letter-spacing: 8px;
  float: left;
}

nav{
  float: right;
  margin-top:6px;
}

ul{
  padding: 0;
  margin: 0;
  display: block;
}

li{
  float: left;
  display: block;
  margin-left: 100px;	
}

a{
  color: #626262;
  text-decoration: none;
}  

.conteiner{
	width: 900px;
	margin: 0 auto;
}

.diary{ 
	height: 388px;	
}

h2{
	margin: 0;
	padding-top: 45px;
	font-size: 14px;
	letter-spacing: 1px;
    font-family: 'Ubuntu', sans-serif;
    color: rgb(180, 173, 158);
    text-transform: uppercase;
}

h1 {
  margin-top: 20px;
  font-size: 30px;
  color: rgb(98, 98, 98);
  letter-spacing: 0px;

}
p {
  margin-top: 55px;
  font-size: 14px;
  font-family: "Playfair Display", sans-serif;
  color: rgb(98, 98, 98);
  line-height: 1.714;
  text-align: left;
}

.photos{
	padding-top: 150px;
	margin-bottom: 120px; 
}

.photos1{
	height: 605px;
}

.photos2{
	margin-top: 50px;
	height: 595px;
}

.photo1-1{
	float: left;
}

.photo1-2{
	float: right;
}

.photo2-1{
	float: left;
}

.photo2-2{
	float: right;
}

.singup{
	width: 	400px;
	height: 287px;
	margin: 0 auto;
	padding-top: 20px;
}

.photos p{
	margin: 0 auto;
}

.photos h2{
	margin-top: 0;
}

.S{
	width: 100%;
	height: 287px;
	background-color: #f0f0f0;
}

.singup h1{
	color: black;
	margin-top: 55px;	 
}

.button{
  margin: 0 auto;
  text-align: center;
  color: black;
  border:1px solid black;
  padding: 20px 0;
  width: 20%;
  border-radius: 1px;
  display: block;
  font-size: 20px;
  color: rgb(98, 98, 98);
  margin-top: 40px;
}

.MORE{
	height: 2000px; 
}

footer{
	width: 100%;
	height: 100px;
	background-color: #f0f0f0;
}
  
.f{ 
	width: 1060px;
	height: 100px;
	margin: 0 auto;	 
}

.tc {
  font-size: 14px;
  color: black;
  font-weight: bold;
  margin-top: 40px; 
  float: left;
}

.pr {
  font-size: 14px;
  color: black;
  font-weight: bold;
  margin-top: 40px; 
  margin-left: 30px;
  float: left;
}

.follow{
	float: right;
	margin-top: 40px;

}
.follow img{
	margin-left: 20px;
}

input{
	border: 0;
	background-color: #f0f0f0;
	margin-top: 45px;
  font-size: 14px; 
}
.plan{
	float: right;
}

.email {
	font-size: 14px;
  font-family: "PlayfairDisplay";
  color: rgb(98, 98, 98);
}
/*
 border: 1PX SOLID RED;